* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.link{
  cursor: pointer;
}
.page{
  height:100vh;
  width:100%;
  position:relative;
}

.admin_component{
  height:100vh;
  width:100%;
  padding: 40px 50px 30px 100px;
 
}
.logo {
  font-weight: bold;
  font-size: 30px !important;
  cursor: pointer;
  background-image: linear-gradient(to right, blue, rgb(89, 210, 232));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logout_btn{
  display: flex;
  margin: 15px;
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .admin_component{
    padding: 33px 22px 29px 85px;
  }
}

@media only screen and (max-width: 460px) {
  .admin_component{
    padding: 15px 7px 8px 69px;
  }
}