* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.link{
  cursor: pointer;
}
.admin_page{
  height:100vh;
  width:100%;
  position:relative;
}
.admin_component{
  height:100vh;
  width:100%;
  padding: 40px 50px 30px 100px;
 
}
.logout_btn{
  display: flex;
  margin: 15px;
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .admin_component{
    padding: 33px 22px 29px 85px;
  }
}

@media only screen and (max-width: 460px) {
  .admin_component{
    padding: 15px 7px 8px 69px;
  }
}