.job_main_div{
    width: 800px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

@media only screen and (max-width: 426px) {
    .job_main_div{
        width: fit-content;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }